@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

html,
body {
    background: #f2f2f2;
    height: 100vh;
    display: flex;
    flex-direction: column;
}




/* -------------  header start ----------------- */

header {
    flex: 8;
    box-shadow: 0 2px 3px #ccc;
    background: #e8e8e8;
}

header .topbar {
    display: flex;
    padding: 18px 30px;
    justify-content: space-between;
}

header img {
    width: 32px;
}

/* -------------  header end  ----------------- */





/* -------------  main start ----------------- */

main {
    flex: 84;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}


/* -------------  main end ----------------- */





/* -------------  footer start ----------------- */

footer {
    flex: 8;
    font-size: 12px;
    box-shadow: 0 -2px 3px #ccc;
    background: #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

/* -------------  footer end ----------------- */