<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/pdf-page.css">
    <link rel="shortcut icon" href="../img/title-icon.png" type="image/x-icon">
    <title>Projeto Video Aulas</title>
</head>

<body>
    <header>
        <section class="topbar">
            <h2>Logo</h2>
            <nav>
                <a href="../index.html">
                    <h3>Início</h3>
                </a>
                <a href="playlist-Js.html">
                    <h3>Javascript</h3>
                </a>
                <a href="playlist-html.html">
                    <h3>HTML</h3>
                </a>
                <a href="playlist-exercicios.html">
                    <h3>Exercícios</h3>
                </a>
            </nav>
        </section>
    </header>

    <main>
        <h1>PDFs</h1>
    </main>

    <footer>
        <h3>Copyright @2023</h3>
    </footer>

    <script src="../js/arquivosPDF.js" type="module"></script>
</body>

</html>